/* SVG Icons base styles */

.icon svg {
	display: inline-block;
	fill: $color__bg;
	height: 5em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 5em;
}
