.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
	color: $color__mainblue;
	background-color: $color__bg;
	
	display: flex;
	flex-wrap: wrap;
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	min-height: 70px;	
}

.custom-logo-link {
	
	img {
		display: inline-block;
		height: 70px;
		width: auto;
	}
}
@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}
	
	.site-branding {
		width: 35%;
		flex: 1 0 auto;
	}
	
	.site-navigation {
		width: 55%;
	}
}
