.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
	color: $color__mainblue;
	background-color: $color__bg;
	
	display: flex;
	flex-wrap: wrap;
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	min-height: 80px;
    display: flex;
/*    flex: 1 auto;*/
}

.custom-logo-link {
	
	img {
		display: flex;
		height: 80px;
		width: auto;
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}
	
	.site-branding {
        width: 25%;
        flex: 1 auto;
	}
	
	.site-navigation {
		width: 55%;
	}
}

/*
Header Menu
*/
@import "header-menu"
