.main-navigation {
	display: block;
	
	font-family: $font__sans;
	font-weight: 400;
    font-size: 0.85em;
    
	clear: left;
	
	ul {
     	display: none;       
		list-style: none;
		margin: 0;
		padding-top: 1em;
		padding-left: 0;

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;

			ul {
				top: 0;
			}

			li {
				padding-left: 0.75em;
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
                
                @media screen and (max-width: $query__small) {
                    padding-left: 0;
                }
			}

			a {
				width: 200px;  
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
        margin-left: .5em;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .5em 0.75em .5em 0;
		text-decoration: none;
		color: $color__mainblue;
        border-radius: 15px;
	}
	
    a:hover,
	a:focus,
    a:hover button,
    a:focus button {
        font-weight: 900;
	}
    
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
        color: $color__bg;
        background-color: lighten($color__mainblue, 10);
	}
	
	.menu-item-has-children,
	.page-item-has-children {
		min-width: 120px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 0.75em;
	}
}

// Positioning of the drop down menu button

button.dropdown-toggle {
	position: absolute;
	right: 0;
	border: none;  
	background: transparent;
	color: $color__mainblue;
	line-height: 1.3em;
	padding: .4em 1em .4em 0em;
    height: 40px;
    width: 40px;
    
    // Changing the position of the + sign in the menu
    @media screen and (max-width: $query__small) {
            width: 200px;
        	padding-bottom: .8em;
    }
}

.menu-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	margin: 1.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 90%;
    font-weight: 700;
	text-transform: uppercase;
    background-color: transparent;
	color: $color__darkblue;
    border: none;
    text-decoration: underline;
}

button img.heart-menu {
    width: 40px;
    height: auto;
}

/* Toggle small menu and sub-menus on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    li:hover {
        margin: 0;
        border-radius: 12px;
        background-color: $color__lightblue;
        
        &:first-of-type {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;            
        }
        
        &:last-of-type {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        
        a {
            color: $color__darkblue;
        }
    }
}

@media screen and (max-width: $query__small) {

    .site-header {
        text-align: center;
    }

    .site-branding {
        display: block;
        width: 100%;
    }

    .main-navigation {
        display: block;
        margin: 0 auto;
    }

    @media screen and (min-width: 600px) {
        .menu-item-has-children {
            text-align: left;
        }
    }

    img.custom-logo {
        height: 120px;
        width: auto;
        padding-right: 2em;
    }
    
}

@media screen and (min-width: $query__small) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation {
        
        position: relative;
        
		.menu-item-has-children > a,
		.page_item_has_children > a {
            padding-right: 0;		
            background-color: $color__lightblue;
		}
		
		ul {
            display: flex;            
			flex-wrap: wrap;
         
			ul {
				flex-direction: column;
				background-color: white;
				margin-left: 0;
                justify-content: flex-end;                   

				li a {
                    background: none;
                    margin-left: 0.2em;                      
                }
            }
            
            li {
                a {
                    padding: .4em 1em; 
                }
            }
		}
        
        // Styling the drop down menu
        
        .toggled-on ul,
        .sub-menu.toggled-on {
            display: block;
            position: absolute;
            top: 42px;

            background-color: transparent;
            
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            li {
                background-color: white;
            }
            
            li:hover {
                margin: 0;
                background-color: $color__lightblue;

                &:first-of-type {
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;            
                }

                &:last-of-type {
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                a {
                    color: white;
                }
            }
            
            // Adjusting the highlight of the current page for the
            // drop down menu
            
            .current_page_item > a,
            .current-menu-item > a {
                color: $color__mainblue;
                background-color: transparent;
            }
            
        }
	}
}

// Adjusting the menu to fit on medium sized screens (iPads f.ex.)

@media screen and (min-width: $query__medium) {
	.main-navigation {
		font-size: 0.85em;
		ul {
			justify-content: flex-end;
			padding-top: 1em;
		}
		
	}
}


