$color__mainblue: #086199; //Medium blue from the CC Library
$color__lightblue: #A5D6F6; //Light blue from the CC Library
$color__darkblue: #024665; //Dark blue from the CC Library
$color__darkgrey: #363839; //My version of black from the CC Library

$color__bg: #FFF; //Backgrounds for elements
$color__bg-footer: $color__bg;

$color__interactive: $color__darkblue;

$color__headlines:  $color__darkblue,
					lighten($color__darkblue, 1), 
                    lighten($color__darkblue, 2),
					lighten($color__darkblue, 3),  
					lighten($color__darkblue, 4),
                    lighten($color__darkblue, 5);

@for $item from 1 through length($color__headlines) {
	h#{$item} {
		color: nth($color__headlines, $item);
	}
}

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__darkgrey;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__mainblue;
$color__link-visited: $color__lightblue;
$color__link-hover: $color__mainblue;
$color__text-main: $color__darkgrey;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-input: #ccc;
$color__border-abbr: #666;
