$color__mainblue: #086199; //Medium blue from the CC Library
$color__lightblue: #A5D6F6; //Light blue from the CC Library
$color__darkblue: #024665; //Dark blue from the CC Library
$color__darkgrey: #363839; //My version of black from the CC Library

$color__bg: #FFF; //Backgrounds for elements
$color__bg-footer: $color__bg;


$color__headlines:  $color__mainblue, 
					lighten($color__mainblue, 15), 
					lighten($color__mainblue, 30), 
					$color__lightblue, 
					lighten($color__lightblue, 15), 
					lighten($color__lightblue, 30);

@for $item from 1 through length($color__headlines) {
	h#{$item} {
		color: nth($color__headlines, $item);
	}
}

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__mainblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-input: #ccc;
$color__border-abbr: #666;
