$size__site-main: 100%;
/*$size__site-sidebar: 25%;*/

$size__ratio-small: 19%;
$size__ratio-medium: 60%;
$size__ratio-large: 90%;

$query__small: 600px;
$query__medium: 1000px;
$query__large: 1400px;
